
/* ---------------- THE HEADER ---------------- */

header {
    height:150px;
    background-color: #508985;
}

#login {
    float: right;
    margin: 15px;
    padding: 5px;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#header-logo {
    height: 150px;
    width: 150px;
    background-color: #345955;
    float: left;
}

.main-nav {
    padding-top: 110px;
}

.main-nav ul {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.main-nav ul li {
    display: inline;
    padding: 25px;
}

.main-nav ul li a {
    color: white;
}